<?xml version="1.0"?>
<!--
/**
 * @version 1.0.21
 * @author Improntus <https://www.improntus.com> - Elevating Digital Experience | Adobe Gold Solution Partner
 * @copyright Copyright (c) 2025 Improntus
 * @package Improntus_RetailRocket
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <retailrocket>
            <configuration>
                <enabled>0</enabled>
                <description_attribute>description</description_attribute>
                <model_attribute>0</model_attribute>
                <vendor_attribute>0</vendor_attribute>
                <always_subscribe_customer_email>1</always_subscribe_customer_email>
                <enable_single_feed>0</enable_single_feed>
                <cron_expression>0 * * * *</cron_expression>
                <qty_categories_to_send>1</qty_categories_to_send>
            </configuration>
        </retailrocket>
    </default>
</config>
