<?xml version="1.0"?>
<!--
/**
 * @author Improntus <https://www.improntus.com> - Elevating Digital Experience | Adobe Solution Partner
 * @copyright Copyright (c) 2024 Improntus
 * @package Improntus_RetailRocket
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="retailrocket" frontName="retailrocket">
            <module name="Improntus_RetailRocket" />
        </route>
    </router>
</config>
