<?xml version="1.0"?>
<!--
/**
 * @version 1.0.8
 * @author Improntus <http://www.improntus.com> - Ecommerce done right
 * @copyright Copyright (c) 2020 Improntus
 * @package Improntus_RetailRocket
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="improntus_retailrocket" class="retailrocket-config-tab" sortOrder="500">
            <label>Retail Rocket</label>
        </tab>
        <section id="retailrocket" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>improntus_retailrocket</tab>
            <resource>Improntus_RetailRocket::config</resource>
            <group id="configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="version" type="text" translate="label comment" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Improntus\RetailRocket\Block\Adminhtml\System\Config\Form\Version</frontend_model>
                </field>
                <field id="enabled" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="partner_id" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Partner Id</label>
                    <validate>required-entry</validate>
                    <comment>Your RetailRocket partner id</comment>
                </field>
                <field id="description_attribute" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description Attribute</label>
                    <comment>Attribute to send as "description"</comment>
                    <source_model>Improntus\RetailRocket\Model\Config\Source\ExtraAttributes</source_model>
                </field>
                <field id="model_attribute" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Model Attribute</label>
                    <comment>Attribute to send as "model"</comment>
                    <source_model>Improntus\RetailRocket\Model\Config\Source\ExtraAttributes</source_model>
                </field>
                <field id="vendor_attribute" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Vendor attribute</label>
                    <comment>Attribute to send as "vendor"</comment>
                    <source_model>Improntus\RetailRocket\Model\Config\Source\ExtraAttributes</source_model>
                </field>
                <field id="extra_attribute" translate="label" type="multiselect" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Extra attributes</label>
                    <comment>Extra attributes to use</comment>
                    <source_model>Improntus\RetailRocket\Model\Config\Source\ExtraAttributes</source_model>
                </field>
                <field id="privacy_policies_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Privacy policies URL</label>
                    <validate>required-entry</validate>
                </field>
                <field id="always_subscribe_customer_email" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Always subscribe customer email in checkout success page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If not, the customer must click "I would like to receive exclussive offers." in checkout success page</comment>
                </field>
                <field id="remove_pub" translate="label" type="select" sortOrder="36" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove "pub" from images url</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_single_feed" translate="label" type="select" sortOrder="38" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Single XML Feed (only by group id)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="remove_special_chars_description" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove special chars in description attribute</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_creation_start_date" translate="label" type="date" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product creation start date filter</label>
                    <comment>Optional. It must be set in format YYYY-MM-DD</comment>
                    <frontend_model>Improntus\RetailRocket\Block\Adminhtml\System\Config\Form\Date</frontend_model>
                </field>
                <field id="cron_expression" translate="label comment" type="text" sortOrder="43" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cron Expression for Product Feed Generation</label>
                    <comment><![CDATA[<strong>Only for advanced users</strong>: Cron expression used to trigger product feed generation process. By default it runs once by hour (0 * * * *)]]></comment>
                    <backend_model>Improntus\RetailRocket\Model\Config\Cron</backend_model>
                </field>
                <group id="stockid" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Stock Id Mode</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Enable StockId Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>If enabled, "stock_id" will be included with each store in a single xml feed</comment>
                    </field>
                    <field id="root_category_ids" translate="label" type="multiselect" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Root category</label>
                        <source_model>Improntus\RetailRocket\Model\Config\Source\RootCategoryId</source_model>
                        <comment>Select all root categories you want to use in feed</comment>
                    </field>
                </group>
                <field id="links" translate="label tooltip" type="button" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Click "Generate Retail Rocket Feed" button below. After the process is done every store you have in Magento will have one xml feed.</label>
                    <frontend_model>Improntus\RetailRocket\Block\Adminhtml\Links</frontend_model>
                </field>
                <field id="generate" translate="label" type="button" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Generate Retail Rocket Feed Manually</label>
                    <frontend_model>Improntus\RetailRocket\Block\Adminhtml\Button\Generate</frontend_model>
                    <comment>Xml feed is generated automatically every 1 hour. You don't need generate it every time.</comment>
                </field>
            </group>
        </section>
    </system>
</config>